body{
    margin: 0;
    align-items: center;
}
canvas{
    width: 800;
    height: 500px;
    border: 2px solid red;
    border: 2px solid black;
    display: block;
    margin: 50px auto;
    background: white;

}
